nav > ul > li{
    display: inline;
    text-decoration:none;
    margin-right: 20px;
    text-align: center;
}
nav li > a{
    text-decoration:none;
    text-align: right;
}
footer{
    margin-top: 50px;
  text-align: center;
}
form label{
    display: block;
    margin-bottom: 10px;
}
td{
    text-align: left;
}
.color{
    color: brown;
}
table{
    border-collapse: collapse;
    padding: 10px 5px;
}
thead{
    font-weight: 900;
}
tfoot tr td{
    text-align: center;
}
.auto{
    display: list-item ;text-align: left;
}
